@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "work sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.bg-light{
   background-color:antiquewhite ;
}
/* share style */

.display-flex{
   display: flex;
}
/* dark 02 */
.text-gray{
   color: #424242;
}
/* dark 03 */
.text-light-gray{
   color:#727272;
}
.btn-primary{
   background-color: orange;
   color: white;
   padding: 20px 25px;
   font-size: 1.5rem;
   font-weight: 600;
   border-radius: 8px;
}
main{
   max-width: 1440px;
   margin: 0 auto;

}
main> section{
   margin-top: 130px;

}
.our-feature{
   margin-left: 130px;
   max-width: 53px;
}

.feature-title{
   font-size:
   1.5rem;
   font-weight: 700;

}
#quick-list{
   font-weight: 500;
}
/* header style */


/* nav related style */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.brand{
   font-weight: 700;
   font-size: 2rem;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-link{
   text-decoration: none;
   font-weight: 500;
}
.navbar,.banner{
   max-width: 1440px;
   margin: 0 auto;
}
/* banner related style */
.banner-content{
   max-width: 800px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 30px;
}
.banner-title{
font-weight: 700;
font-size: 4rem;
}
.banner-img{
   width:100% ;
}
/* team and feature style */
.team{
   align-items: center;
}
.team-img-container{
   display: grid;
   grid-template-columns:repeat(2,1fr) ;
   gap: 24px;

}
/* responsive media query */
@media screem and (max-width:576px){
  .navbar,
  .nav-link,
  .teams
  {
   flex-direction: column;
  }
  .team-img-container{
   flex-direction:repeat(1,afr) ;
  }
  .our-feature{
   margin-left:20px;
  }
}
/* media size device */
@media screen and (min-width:576px) and (max-width:992px){
   .teams{
      flex-direction:column;
   }
   .our-feature{
      margin-left:50px auto;

   }
   
}